/*.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}*/

/* BLOCCO LEZIONI */
/*#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}*/

/*
#lezioni .row img {

  display: block;
  margin-right: auto;
  margin-left: auto;
}*/

#lezioni {
  text-align: center;
}

/*
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}*/

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}
/*
#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}
*/

/* ho tolto la classe row perchè le immagini non avevano il colore assegnato */
#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* le media query che erano presenti nel foglio di style sono state eliminate
perchè è stato aggiunto il framework, il quale le contiene lui.
Inoltre ho modificato solo i nomi nelle classi dei div, così da richiamare
il framework.
ho anche bloccato con il selettore del commento il codice che risulta inutile.*/
